.header__logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 125px;
  height: 100px;
  padding-left: 20px;
}
.header__logo-img {
  width: 90px;
  height: 70px;
}

@media (max-width: 768px) {
  .header__logo {
    width: 80px;
    padding-left: 10px;
  }
  .header__logo-img {
    width: 70px;
    height: auto;
  }
}
